/* @import url(@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap'); */

body {
padding: 0;
margin: 0;
background-color: rgb(145, 255, 0);
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 233, 224);
    overflow: scroll;

}

nav{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    background-color: white;
    position: fixed;


}

ul
{
list-style-type: none;
display: flex;
position: sticky;
overflow: hidden;


}

li
{
list-style: none;
padding: 25px;
margin: auto;
}

.div1
{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    align-items: center;
    /* margin-bottom: 200px; */
    
    
}

.div2
{
    /* display: flex; */
    border: 1px solid black;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    display: inline-block;
   
    
    /* justify-content: center; */
    /* margin-bottom: 200px; */
    
}

.div3
{
    /* display: flex; */
    border: 1px solid black;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    display: inline-block;
    background-color: black;
   
    
    /* justify-content: center; */
    /* margin-bottom: 200px; */
    
}


.container
{
display: flex;
align-items: center;
text-align: center;
margin-top: 50px;


}

.div4
{
    border: 1px solid black;
    width: 50%;
    height: 500px;
    background-image: url("./Images/promo.jpg");

    
    
    
}

.div5
{
    border: 1px solid black;
    width: 50%;
    height: 500px;
    background-image: url("./Images/promo_ai__couihqxznyvm_medium.jpg");

   
   
    
   
}


.btn
{
    border-color: blue;
    /* display: flex; */
    color: blue;
    padding: 20px 32px;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 16px;
    /* margin: 50px 10px; */
    cursor: pointer;
    border-radius: 50px;
    width : 100px;
    height: 60px;
    
    
    
}

.btn:hover {
    background-color: blue;
    color: white;
  }

  .btn1
  {
      border-color: blue;
      background-color: blue;
      padding: 20px 32px;
      text-align: center;
      font-size: 16px;
      margin: 250px 10px;
      cursor: pointer;
      border-radius: 50px;
  }

  .btn2
{
    border-color: blue;
    color: blue;
    padding: 20px 32px;
    text-align: center;
    font-size: 16px;
    margin: 250px 10px;
    cursor: pointer;
    border-radius: 50px;
}

.btn2:hover {
    background-color: blue;
    color: white;
    outline-color: blue;
}

.para{
    display: flex;
    font-size: 30px;
    border-width: 4px;
    border-color: blue;
 /* display: inline-block; */
 position: relative;
    margin-left: 50%;


}